<!DOCTYPE html>
<html>
    <head>
        <title> Join Member </title>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style type="text/css">
        button {
          background-color: #e7e7e7; 
          color: black;
          border: none;
          padding: 10px 30px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 12px;
        }
        button:hover {
          background-color: #333;
          color: white;
        }
        body {
            font-family: 微軟正黑體
        }

        </style>
        <script type="text/javascript">
            function identity(){
                if(document.getElementById('customer_phone2').value == "noMember"){
                    document.getElementById('add').style.visibility = "visible";
                }
                //document.getElementById('add').style.visibility = "visible";
            }
        </script>
        
    </head>
    <body>
        
        <form method='get' action=''>
        <div>
            <label for="customer_phone">顧客手機號碼:</label>
            <input class="form-control" type="text" id="customer_phone" name="customer_phone"><br>
            <div align="right"><button type='submit' name='indentityCheck'>查詢會員資料</button></div>
         
        
            <p>會員性名: {{ custo_name }}</p>
            <p>會員手機: {{ custo_phone }}</p>
            <p>點數: {{ custo_point }}</p>
            
            <br>
            <br>
            <br>
<!--
            <label for="usePoint">點數兌換:</label>
            <input class="form-control" type="number" id="usePoint" name="usePoint" min="0" max="{{ custo_point }}"><br>
            <div align="right"><button type='submit' name='point_used_by_custo' value='{{ custo_phone }}'>使用點數</button></div>
-->
            <!--<div align="right"><button type='submit' onclick="identity()">新增會員資料</button></div>-->
            <br>
            <br>
            <h3>新增會員</h3>
            <br>
            <div id='add'>
            
            <label for="customer_name">顧客姓名:</label>
            <input class="form-control" type="text" id="customer_name" name="customer_name"><br>
            <label for="phone">手機:</label>
            <input class="form-control" type="text" id="phone" name="phone"><br>
            <label for="gender">性別:</label>
            <select name="gender" class="form-control" required>
                <option value="M">男性</option>
                <option value="F">女性</option>
            </select>
            
            <div align="right" style="padding-top:10px"><button type='submit'>新增會員</button></div>

        </div>
        </div>
        </form> 
        
        
        <input class="form-control" type="text" id="customer_phone2" name="customer_phone2" value="{{ custo_phone }}" style="visibility:hidden">
        <input class="form-control" type="text" value="{{ custo_point }}" style="visibility:hidden">

    
    </body>
</html>