<!DOCTYPE html>
<html>
    <head>
        <title> Join Member </title>
        <meta charset="utf-8">
        <style type="text/css">
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        
        <form method='get' action=''>
        <table>
            <tr>
                <th>name</th>
                <th>phone</th>
                <th>gender</th>
            </tr>
        
            <tr>
                <th><input type="text" name='customer_name'></th>
                <th><input type="text" name='phone'></th>
                <th><input type="text" name='ender'></th>   
            </tr>
        </table>
        <input type='submit' value='add member'>
 
        </form>

    
    </body>
</html>