<html>
	<head>
		<title>Level Setup</title>
	</head>
	<body>
		<form method="GET" action="">
				<h2>Non-Perishable Ingredients<h2>
			<table>
				<tr>
					<th>ingredient</th>
					<th>LT</th>
					<th>d</th>
					<th>sigma</th>
					<th>accepted_risk</th>
					<th>ROP</th>
				</tr>
				{%for i in i_para_list%}
				<tr>
					<td>{{i.ingredient_name}}</td>
					<td>
						<input name="{{i.ingredient_name}}_LT" id="{{i.ingredient_name}}_LT type="text" value="{{i.LT}}">
					</td>
					<td>
						<input name="{{i.ingredient_name}}_d" id="{{i.ingredient_name}}_d" type="text" value="{{i.d}}">
					</td>
					<td>
						<input name="{{i.ingredient_name}}_sigma" id="{{i.ingredient_name}}_sigma" type="text" value="{{i.sigma}}">	
					</td>
					<td>
						<input name="{{i.ingredient_name}}_accepted_risk" id="{{i.ingredient_name}}_accepted_risk" type="text" value="{{i.accepted_risk}}">
					</td>
					<td>
						<p>{{i.ROP}}</p>
					</td>
				</tr>
				{%endfor%}
			</table>

			<h2>Perishable Ingredients<h2>
			<table>
				<tr>
					<th>ingredient</th>
					<th>d</th>
					<th>sigma</th>
					<th>accepted_risk</th>
					<th>S0</th>
				</tr>

				{%for i in i_para_list2%}
				<tr>
					<td>{{i.ingredient_name}}</td>
					<td>
						<input name="{{i.ingredient_name}}_d" id="{{i.ingredient_name}}_d" type="text" value="{{i.d}}">
					</td>
					<td>
						<input name="{{i.ingredient_name}}_sigma" id="{{i.ingredient_name}}_sigma" type="text" value="{{i.sigma}}">	
					</td>
					<td>
						<input name="{{i.ingredient_name}}_accepted_risk" id="{{i.ingredient_name}}_accepted_risk" type="text" value="{{i.accepted_risk}}">
					</td>
					<td>
						<p>{{i.S0}}</p>
					</td>
				</tr>
				{%endfor%}
			</table>
			<input type="submit" value="calculate">
		</form>
			
			<h2>{{ROP_list}}</h2>
			<h2>{{SO_list}}</h2>
			<a href="/listingredient">回到存量查看</a>
		
	</body>

</html>