<html>
	<head>
		<title></title>
		<style>    
		table,td,th{
			border: 1px solid black;
		}
		</style>
	<body>
		<h2>For Manager</h2>
		<table>
			<tr>
				<th>ingredient_name</th>
				<th>amount</th>
				<th>is_sufficient</th>
				<th></th>
			</tr>
			
			{%for i in pi_list%}
			{%if i.amount < level %}
				<tr id="i_row" style="color:red">
				{%else%}
				<tr id="i_row">
			{%endif%}
				<td>{{i.ingredient_name}}</td>
				<td>{{i.amount}}</td>
				<td>{{i.is_sufficient}}</td>
				<td><a href="">ordernow!</a></td>
			</tr>
			{%endfor%}
		</table>
		<br><br>
		<h2>For employees</h2>
		<table>
			<tr>
				<th>ingredient_name</th>
				<th>amount</th>
				<th>is_sufficient</th>
			</tr>
			
			{%for i in i_list%}
			{%if i.amount < 10 %}
				<tr style="color:red">
				{%else%}
				<tr>
			{%endif%}
				<td>{{i.ingredient_name}}</td>
				<td>{{i.amount}}</td>
				<td>{{i.is_sufficient}}</td>
			</tr>
			{%endfor%}
		</table>
		<form method="GET" action="/level_setup/">
			<input type="submit" value="安全存量設置">
		</form>
		
	</body>
</html>