<html>
	<head>
		<title>ManagerCheckIngredient</title>
		<style>    
		table,td,th{
			border: 1px solid black;
		}
		</style>

	</head>
	<body>
		<h2>For Manager</h2>
		<table>
			<tr>
				<th>ingredient_name</th>
				<th>amount</th>
				<th>order</th>
			</tr>
		
			{%for i in i_list%}
			{%if i.amount < i_para_dict|get_item:i.ingredient_name %}
				<tr id="i_row" style="color:red">
			{%else%}
				<tr id="i_row">
			{%endif%}
				<td>{{i.ingredient_name}}</td>
				<td>{{i.amount}}</td>
				<form method="GET" action="">
					<td>
						<input name="{{i.ingredient_name}}_orderamount" id="{{i.ingredient_name}}_orderamount" type="number" value=0>	
					</td>
					<td>
						<input type="submit" value="ordernow!">
					</td>
				</form>
			</tr>
			{%endfor%}
		</table>
		<br><br>

		<h2>For employees</h2>
		<table>
			<tr>
				<th>ingredient_name</th>
				<th>amount</th>
				<th>process</th>
			</tr>
			
			{%for i in processed_i_list%}
			{%if i.amount < pi_para_dict|get_item:i.ingredient_name %}
				<tr style="color:red">
			{%else%}
				<tr>
			{%endif%}
				<td>{{i.ingredient_name}}</td>
				<td>{{i.amount}}</td>
				<form method="GET" action="">
					<td>
						<input name="{{i.ingredient_name}}_processamount" id="{{i.ingredient_name}}_processamount" type="number" value=0>	
					</td>
					<td>
						<input type="submit" value="ProcessIngredient">
					</td>
				</form>
			</tr>
			{%endfor%}
		</table>
		<form method="GET" action="/level_setup/">
			<input type="submit" value="ROP與S0相關設定">
		</form>
		
	</body>
</html>