<!DOCTYPE html>
<html>
	<head>
        
		<title>ORDER</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <style>    
        
        h1 {
          text-align: center;
          font-size: 40px;
        }
        table {
          width: 100%;
        }
        
        button {
          background-color: #e7e7e7; 
          color: black;
          border: none;
          padding: 10px 30px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 12px;
        }
        button:hover {
          background-color: #333;
          color: white;
        }
        body {
            font-family: 微軟正黑體
        }
        .iframe-rwd {
            position: relative;
            padding-bottom: 65.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
        }
        .iframe-rwd iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        li {
          float: left;
        }
        image {
        　position:absolute;
        　top:0px;
        　left:0px
        }
 
        </style>
        
        <script type="text/javascript">
            $(function () {
                $("[id*=btnFirstGenerateJson").click(function () {
                    var array1 = [];
                    $("[id*=finalOrder] .DataRow").each(function () {
                        var amount = $(this).find('td').eq(4).text().trim();
                        if (!isNaN(amount)) {
                            var firstTableData = {};
                            firstTableData.drink = $(this).find('td').eq(0).text().trim();
                            firstTableData.sugar = $(this).find('td').eq(1).text().trim();
                            firstTableData.ice = $(this).find('td').eq(2).text().trim();
                            firstTableData.cupsize = $(this).find('td').eq(3).text().trim();
                            firstTableData.amount = amount
                            array1.push(firstTableData);
                        }
                    });
                    //alert(JSON.stringify(array1));
                    if(document.getElementById('total').value != '0' && document.getElementById('total').value != '')
                    {
                        alert('訂單成功!')

                    } ;
          
                    
                    document.getElementById("This-is-the-real-id").value = JSON.stringify(array1);
                    document.getElementById("genrateOrder").value = JSON.stringify(array1);
                });
            })
        </script>
        
        <script>
        function addRow() {
          var table = document.getElementById("orderTable");
          var row = table.insertRow(-1);
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);
          var cell4 = row.insertCell(3);
          var cell5 = row.insertCell(4);
          cell1.innerHTML = document.getElementById("order_drink").innerHTML
          cell2.innerHTML = document.getElementById("order_sugar").innerHTML
          cell3.innerHTML = document.getElementById("order_ice").innerHTML
          cell4.innerHTML = document.getElementById("order_size").innerHTML
          cell5.innerHTML = document.getElementById("order_num").innerHTML
        }
        function convert() {
          var table = document.getElementById("finalOrder");
          var row = table.insertRow(-1);
          row.className = 'DataRow';
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);
          var cell4 = row.insertCell(3);
          var cell5 = row.insertCell(4);

          var cell6 = row.insertCell(5);
          var cell7 = row.insertCell(6);

          
          var selObjDrink = document.getElementById("drink");
          var selObjSugar = document.getElementById("sugar");
          var selObjIce = document.getElementById("ice");
          var selObjSize = document.getElementById("size");
          var selObjNum = document.getElementById("num_of_drink");
          
          cell1.innerHTML = selObjDrink.options[selObjDrink.selectedIndex].text;
          cell2.innerHTML = selObjSugar.options[selObjSugar.selectedIndex].text;
          cell3.innerHTML = selObjIce.options[selObjIce.selectedIndex].text;
          cell4.innerHTML = selObjSize.options[selObjSize.selectedIndex].text;
          cell5.innerHTML = selObjNum.value;
          
          let price = { 
            "red_tea":25, "green_tea":25, "milktea":40, "green_milktea":40, "bubble_milktea":50, "bubble_green_milktea":50 
          }

          cell6.innerHTML = price[selObjDrink.options[selObjDrink.selectedIndex].value];
          cell7.innerHTML = price[selObjDrink.options[selObjDrink.selectedIndex].value]*selObjNum.value;

          let total = document.getElementById('total');
          if(total.value ==""){
              total.value = price[selObjDrink.options[selObjDrink.selectedIndex].value]*selObjNum.value;
          }else{
              total.value = parseFloat(total.value)+price[selObjDrink.options[selObjDrink.selectedIndex].value]*selObjNum.value;
          }
            


          //cell8.innerHTML = price[selObjDrink.options[selObjDrink.selectedIndex].value]*selObjNum.value;

        }
        function checkIdentity() {
            var txt;
                  
            //var phone_number = prompt("Please enter customer phone number:");
            phone_number = document.getElementById('customer_phone')
            if (phone_number == null || phone_number == "") {
                txt = "未輸入，請再輸入一次";
            } else {
                txt = "Hello " + phone_number.value + "!";
            }
            //document.getElementById("demo").innerHTML = txt;
            //document.getElementById("addMember").src="/add_member";
        }
        </script>


  
	</head>
	<body>       
        <br>
        {% load staticfiles %}
        <img src=" {% static 'logo.png' %} " style="width:80px;height:80px;" onclick="window.location.href ='/drink_system'" align="left">
        <img src=" {% static 'white.png' %} " style="width:80px;height:80px;" align="right"> 
        
        <b><p style="font-size: 40px;padding: 12px;" align="center">點 餐 ORDER</p></b>

        <hr>

           
        <div class='container-fluid'>
        <div class="row">
        <div class="col-sm-8" >
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading" >新增餐點</div>
                    <div class="panel-body table-responsive">
                        <table id="orderTable">
                          <tr>
                            <th>商品</th>
                            <th>甜度</th>
                            <th>冰塊</th>
                            <th>尺寸</th>
                            <th>數量</th>
                          </tr>
                          
                          <tr class="DataRow">
                            <td id='order_drink'>
                                <select id="drink" name="drink" class="form-control" required>
                                <option value="red_tea">紅茶</option>
                                <option value="green_tea">綠茶</option>
                                <option value="milktea">鮮奶茶</option>
                                <option value="green_milktea">奶綠</option>
                                <option value="bubble_milktea">珍珠鮮奶茶</option>
                                <option value="bubble_green_milktea">珍珠奶綠</option>
                                </select>
                            </td>
                            <td id='order_sugar'>
                                <select id="sugar" name="sugar" class="form-control" required>
                                <option value="sugar4">全糖</option>
                                <option value="sugar3">少糖</option>
                                <option value="sugar2">半糖</option>
                                <option value="sugar1">微糖</option>
                                <option value="sugar0">無糖</option>
                                </select>
                            </td>
                            <td id='order_ice'>
                                <select id="ice" name="ice" class="form-control" required>
                                <option value="iceFull">正常</option>
                                <option value="iceLess">少冰</option>
                                <option value="iceNon">去冰</option>
                                <option value="hot">溫熱</option>
                                </select>
                            </td>
                            <td id='order_size'>
                                <select id="size" name="size" class="form-control" required>
                                <option value="midium">中杯</option>
                                </select>
                            </td>
                            <td id='order_num' >
                                <input class="form-control" type="number" id="num_of_drink" name="num_of_drink" min="0" max="10">
                            </td>
                          </tr>
                        </table>
                        <div align="right" style="padding-top:10px">
                        <button onclick='convert()' name='convert'>新增訂單項目</button>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">確認訂單</div>
                    <div class="panel-body">
                        <table id='finalOrder'>
                            <tr>
                                <th>商品</th>
                                <th>甜度</th>
                                <th>冰塊</th>
                                <th>尺寸</th>
                                <th>數量</th>
                                <th>單價</th>
                                <th>小計</th>
                            </tr>
                        </table>
                        <div align="right" style="padding-top:10px">
                        <button type="submit" onclick='Del()' style="margin-bottom:10px">刪除訂單</button>

                        <form method='get' action=''>
                        <input id="This-is-the-real-id" name ='genOrder' type="text" value="" style="visibility:hidden">
                        <input id="custoData" name='custoData' type="text" value="" style="visibility:hidden">
                        <input id="custoPoint" name='custoPoint' type="text" value="" style="visibility:hidden">

                        <div align="right" class="table-responsive">
                        <table id='summarize' align="right">
                            <tr>
                                <th style='width:100px; padding-right:10px'>
                                    <label align="left" for="usePoint">點數兌換:</label>
                                    <input class="form-control" type="number" id="usePoint" name="usePoint" min="0" max="document.getElementById('custoPoint').value"><br>
                                </th>
                                
                                <th>
                                    <button type='submit' name='point_used_by_custo' value=''>使用點數</button>
                                </th>
                                <th style='width:100px; padding-right:10px'>
                                    <label align="left" for="total">總額:</label>
                                    <input class="form-control" type="text" id="total" name="total"><br>
                                </th>
                                <th>
                                    <button type="submit" id="btnFirstGenerateJson" name='genrateOrder' value=' ' onclick='myFunction()'>送出訂單</button>
                                </th>
                            </tr>
                        </table>
                        </div>


                        </form>
                        
                        
                        <script>
                        function myFunction(){
                            var y = frames.addMember.document
                                if (y){
                                    //alert(y.getElementsByTagName("input")[3].value);
                                    //紀錄會員手機
                                    document.getElementById("custoData").value = y.getElementsByTagName("input")[4].value;
                                    //用點數
                                    document.getElementById("point_used_by_custo").value = y.getElementsByTagName("input")[4].value;
                                    document.getElementById("custoPoint").value = y.getElementsByTagName("input")[5].value;
                                    document.getElementById("usePoint").max = y.getElementsByTagName("input")[5].value;

                                    
                                }
                        }

                        function Del(){
                            let finalTable = document.getElementById('finalOrder')
                            let delNum = finalTable.rows[finalTable.rows.length - 1 ].cells[6].innerHTML;
                            let total = document.getElementById('total');
                            total.value = parseFloat(total.value)-parseFloat(delNum); 
                            document.getElementById('finalOrder').deleteRow(-1);
                        }
                        </script>
                                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4" >
            <div class="panel panel-warning">
                <div class="panel-heading">會員</div>
                <div class="panel-body">

                    <form method='get' action="">                    
                    <div class="iframe-rwd">
                    <iframe id='myframe' src='/add_member' name='addMember' frameborder='0' style="width:100%; height:100%" value=" "> </iframe>                
                    </div>
                    </form>
                    
                </div>
            </div>
            
<!--
送出訂單之後，取得加工原料是否需要加工
-->

            <div class="alert alert-danger">
                <strong>Danger!</strong> 
                <br>需要備料了!
            </div>


        </div>
        </div>
        </div>


        

	</body>
</html>