<!DOCTYPE html>
<html>
	<head>
        
		<title>ORDER</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <style>    
        
        h1 {
          text-align: center;
          font-size: 40px;
        }
        table {
          width: 100%;
        }
        button {
          background-color: #e7e7e7; 
          color: black;
          border: none;
          padding: 10px 30px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 12px;
        }
        </style>
        
        <script type="text/javascript">
            $(function () {
                $("[id*=btnFirstGenerateJson").click(function () {
                    var array1 = [];
                    $("[id*=finalOrder] .DataRow").each(function () {
                        var amount = $(this).find('td').eq(4).text().trim();
                        if (!isNaN(amount)) {
                            var firstTableData = {};
                            firstTableData.drink = $(this).find('td').eq(0).text().trim();
                            firstTableData.sugar = $(this).find('td').eq(1).text().trim();
                            firstTableData.ice = $(this).find('td').eq(2).text().trim();
                            firstTableData.cupsize = $(this).find('td').eq(3).text().trim();
                            firstTableData.amount = amount
                            array1.push(firstTableData);
                        }
                    });
                    alert(JSON.stringify(array1));
                });
            })
        </script>
        
        <script>
        function addRow() {
          var table = document.getElementById("orderTable");
          var row = table.insertRow(-1);
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);
          var cell4 = row.insertCell(3);
          var cell5 = row.insertCell(4);
          cell1.innerHTML = document.getElementById("order_drink").innerHTML
          cell2.innerHTML = document.getElementById("order_sugar").innerHTML
          cell3.innerHTML = document.getElementById("order_ice").innerHTML
          cell4.innerHTML = document.getElementById("order_size").innerHTML
          cell5.innerHTML = document.getElementById("order_num").innerHTML
        }
        function convert() {
          var table = document.getElementById("finalOrder");
          var row = table.insertRow(-1);
          row.className = 'DataRow';
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);
          var cell4 = row.insertCell(3);
          var cell5 = row.insertCell(4);
          
          var selObjDrink = document.getElementById("drink");
          var selObjSugar = document.getElementById("sugar");
          var selObjIce = document.getElementById("ice");
          var selObjSize = document.getElementById("size");
          var selObjNum = document.getElementById("num_of_drink");
          
          cell1.innerHTML = selObjDrink.options[selObjDrink.selectedIndex].text;
          cell2.innerHTML = selObjSugar.options[selObjSugar.selectedIndex].text;
          cell3.innerHTML = selObjIce.options[selObjIce.selectedIndex].text;
          cell4.innerHTML = selObjSize.options[selObjSize.selectedIndex].text;
          cell5.innerHTML = selObjNum.value;

        }
        function checkIdentity() {
            var txt;
                  
            //var phone_number = prompt("Please enter customer phone number:");
            phone_number = document.getElementById('customer_phone')
            if (phone_number == null || phone_number == "") {
                txt = "未輸入，請再輸入一次";
            } else {
                txt = "Hello " + phone_number.value + "!";
            }
            document.getElementById("demo").innerHTML = txt;
            document.getElementById("addMember").src="/add_member";
        }
        </script>
        <script>
        
        
        </script>

  
	</head>
	<body>       
        <!--
        <button onclick='addRow()' id="run" class="btn btn-primary"> 新增品項 </button>
        -->
        <div class="page-header text-center">
          <h1 onclick="window.location.href ='/main_page'">Drink System</h1>
        </div>
            
        <div class='container'>
        <div class="row">
        <div class="col-sm-8" >
            
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading" >新增餐點</div>
                    <div class="panel-body table-responsive">
                        <table id="orderTable">
                          <tr>
                            <th>商品</th>
                            <th>甜度</th>
                            <th>冰塊</th>
                            <th>尺寸</th>
                            <th>數量</th>
                          </tr>
                          
                          <tr class="DataRow">
                            <td id='order_drink'>
                                <select id="drink" name="drink" class="form-control" required>
                                <option value="red_tea">紅茶</option>
                                <option value="green_tea">綠茶</option>
                                <option value="milktea">鮮奶茶</option>
                                <option value="green_milktea">奶綠</option>
                                <option value="bubble_milktea">珍珠鮮奶茶</option>
                                <option value="bubble_green_milktea">珍珠奶綠</option>
                                </select>
                            </td>
                            <td id='order_sugar'>
                                <select id="sugar" name="sugar" class="form-control" required>
                                <option value="sugar4">全糖</option>
                                <option value="sugar3">少糖</option>
                                <option value="sugar2">半糖</option>
                                <option value="sugar1">微糖</option>
                                <option value="sugar0">無糖</option>
                                </select>
                            </td>
                            <td id='order_ice'>
                                <select id="ice" name="ice" class="form-control" required>
                                <option value="iceFull">正常</option>
                                <option value="iceLess">少冰</option>
                                <option value="iceNon">去冰</option>
                                <option value="hot">溫熱</option>
                                </select>
                            </td>
                            <td id='order_size'>
                                <select id="size" name="size" class="form-control" required>
                                <option value="midium">中杯</option>
                                <option value="large">大杯</option>
                                </select>
                            </td>
                            <td id='order_num' >
                                <input class="form-control" type="number" id="num_of_drink" name="num_of_drink" min="0" max="10">
                            </td>
                          </tr>
                        </table>
                        <div align="right" style="padding-top:10px">
                        <button onclick='convert()' name='convert'>新增訂單項目</button>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">確認訂單</div>
                    <div class="panel-body">
                        <table id='finalOrder'>
                            <tr>
                                <th>商品</th>
                                <th>甜度</th>
                                <th>冰塊</th>
                                <th>尺寸</th>
                                <th>數量</th>
                            </tr>
                        </table>
                        <div align="right" style="padding-top:10px">
                        <button type="button" value="Genrate First Table JSON Object" id="btnFirstGenerateJson">送出訂單</button>
                        
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
        <div class="col-sm-4" >
            <div class="panel panel-warning">
                <div class="panel-heading">會員</div>
                <div class="panel-body">
                    <label for="customer_phone">顧客手機號碼:</label>
                    <input class="form-control" type="text" id="customer_phone" name="customer_phone"><br>
                    <div align="right"><button onclick="checkIdentity()">查詢會員資料</button></div>
                    <p id="demo"></p>
                </div>
            </div>

                

        </div>

        </div>
        </div>
          
          
        
        <form method="GET" action="" >
        
        </form>
        

        


<!--
        <form method="GET" action="">
        <input type='submit' name='createOrder' value='完成訂單'>
        <p> 訂單編號 : {{ ordernum.num }} </p>
        {% for orders in order_has_product_set.all %}
            <tr>
                <td>{{ orders.product }}</td>
                <td>{{ orders.sugar_level }}</td>
                <td>{{ orders.ice_level }}</td>
                <td>{{ orders.cup_size }}</td>
                <td>1</td>  
            </tr>
        {% endfor %}
		</form>
-->

        <iframe name='addMember' height="100" width="600" frameborder='0'> </iframe>
				

	</body>
</html>